<h1 style="text-align: center">Je suis {{username}}</h1>

<form #myForm="ngForm" class="user-form">
  <label for="pseudo">Quel est votre pseudo ?</label>

  <br><br>

  <input
    type="text"
    id="pseudo"
    name="username"
    title="3 caractères minimum requis"
    required
    minlength="3"
    maxlength="20"
    size="20"
    placeholder='Votre pseudo ici'
    [(ngModel)]=username>

  <span class="validity"></span>

  <br><br>

  <button
    type="submit"
    [disabled]="!myForm.form.valid"
    (click)="goToGamePage(username)">
    Valider
  </button>
</form>
